@import '/src/assets/style/variables';
@import '/src/assets/style/mixins';

.container {
  @include flex-column();
  max-width: $medium-app-width;
  margin: 0 auto;

  h1 {
    padding: 60px 0;
    text-align: center;
  }
  h2 {
    padding: 30px 0;
    align-self: flex-start;
  }
}

.img {
  border-radius: 10%;
  display: flex;
  width: 120px;
  height: 120px;
}

.contact {
  &Wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 10px;
  }

  &Name {
    @include highlight-text();
  }

  &Link {
    font-size: 22px;
    font-weight: 500;

    & > a {
      @include common-link();
      font-size: 22px;
    }
  }
}

.googleFormContainer {
  margin: 60px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  iframe {
    padding: 50px 0;
  }
}
