/*Fonts and Typography*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,500&family=Kanit:wght@500;700&family=Open+Sans:wght@400;700&display=swap');

$Kanit: 'Kanit', Times, sans-serif;
$Open-Sans: 'Open Sans', 'Times New Roman', sans-serif;
$Cormorant-Garamond: 'Cormorant Garamond', 'Georgia', serif;

/*Colors*/
$page-bg-color-main: #fff;
$page-bg-color-additional: #6a87ca;
$highlight-main: #fffc62;
$highlight-additional: #893ea0;
$text-color-main: #425259;
$text-color-additional: #fcf1d2;
$border-color-main: #000000;

/*Height*/
$header-height: 84px;
$footer-height: 220px;

/*Transition*/
$transition-main: all 0.4s ease-out;
$transition-fast: all 0.25s ease;

/*Paddings*/
// $padding-page-high: 16vw;
// $padding-page-medium: 8vw;
// $padding-page-low: 20px;
/*Margins*/

/*Border radius*/

/*Width*/
// $high-app-width: 2000px;
// $medium-app-width: 1200px;
$max-app-width: 1200px;
