/*Fonts and Typography*/

/*Colors*/
$page-bg-color-main: #fff;
$page-bg-color-additional: #205ded;
$highlight-main: #fffb21;
$highlight-additional: #6b1785;
$text-color-main: #425259;
$text-color-additional: #f0e0b0;
$border-color-main: #f4a124;

/*Transition*/

/*Paddings*/

/*Border radius*/
$border-rad-main: 16px;
