@import '@style/mixins';
@import '@style/variables';

.buttonCommon {
  padding: 8px 24px;
  border: 2px solid $text-color-main;
  color: $text-color-main;
  font-size: 20px;
  font-weight: 500;
  font-family: $Kanit;
  line-height: 120%;
  transition: $transition-main;
  background-color: $text-color-additional;

  &:hover {
    color: $page-bg-color-additional;
    background-color: rgb(255, 255, 109);
    border-radius: 10px;
  }
}

.buttonLink {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 8px 24px;
  border: 2px solid $border-color-main;
  border-radius: 22px 6px 22px 6px;
  color: $text-color-main;
  // background-image: linear-gradient(73deg, rgb(246, 255, 0) 2%, $highlight-main 92%);
  background-color: $highlight-main;
  font-size: 24px;
  font-weight: 500;
  font-family: $Kanit;
  line-height: 120%;
  transition: $transition-main;

  &__arrow {
    display: flex;
    margin-left: 4px;
    margin-top: 2px;
    transition: all 0.5s ease-out;
  }

  &:hover {
    color: $page-bg-color-additional;
    border-radius: 22px 14px 22px 14px;

    .buttonLink__arrow {
      transform: translateX(40%);
      color: $highlight-additional;
    }
  }
}
