@import '/src/assets/style/variables';
@import '/src/assets/style/mixins';

.container {
  width: 264px;
  border-radius: 16px 16px 0 0;

  h4, h6 {
    font-weight: 500;
  }

  &_decore {
    height: 20px;
    background-color: $page-bg-color-additional;
    border-radius: 16px 16px 0 0;
  }

  & label {
    margin-top: 10px;
    margin-right: 10px;
  }

  & input {
    margin: 10px 0;
    border-width: 3px;
    border-style: groove;
    border-color: $page-bg-color-additional;
    padding: 3px 7px;
    font-size: 18px;
  }
}

.contentWrap {
  border: 2px solid $page-bg-color-additional;
  padding: 5px;
}

.result {
  & span {
    margin-left: 63px;
    color: $border-color-main;
    font-weight: 600;
  }
}
