@import '@style/variables';
@import '@style/mixins';

.container {
  color: $text-color-main;
  padding: $offset-block-padding;
  padding-top: 240px;

  @media screen and (min-width: $max-app-width) {
    max-width: $max-app-width;
    margin: 0 auto;
  }
}
