@import '@style/variables';
@import '@style/mixins';

.container {
  color: $text-color-main;
  background-color: #fcf5f5;

  a {
    @include highlight-text();
    @include common-link();
    text-decoration: none;
    font-size: 24px;
  }
}
