@import '@style/variables';
@import '@style/mixins';

.container {
  color: $text-color-main;
  font-size: 40px;
}

.content {
  @include flex-column();
}

.button {
  display: block;
  padding: 8px 12px;
  border: 2px solid $border-color-main;
  transition: background 0.5s ease-out;

  &:hover {
    background-color: $text-color-additional;
  }
}
