@import '/src/assets/style/variables';
@import '/src/assets/style/mixins';

.auth {
  color: $highlight-main;
  font-size: 30px;
  padding: 6px 6px 8px 6px;
  border: 2px solid $highlight-main;
  border-radius: 10px;
  transition:
    background-color,
    color 0.2s ease-in;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background-color: $highlight-main;
    color: $page-bg-color-additional;
    border-color: $page-bg-color-additional;
  }
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 112px;

  &:hover {
    .menu_active {
      top: 0;
    }
  }
}

.userIconWrap {
  display: flex;
}

.menu {
  position: absolute;
  top: -100vh;
  width: 240px;
  transition: $transition-fast;

  &_topDecore {
    height: $header-height;
    width: 100%;
    background-color: $page-bg-color-additional;
    opacity: 0.5;
    border-right: 1px dotted $border-color-main;
    border-left: 1px dotted $border-color-main;
  }

  &Item {
    width: 100%;
    padding: 12px 4px;
    border-bottom: 1px solid $border-color-main;
    font-weight: 500;
    color: $highlight-main;
    font-size: 24px;
    transition: all 0.1s ease-out;
    cursor: pointer;

    &Wrap {
      display: flex;
      flex-direction: column;
      text-align: center;
      border: 1px solid $border-color-main;
      background-color: $page-bg-color-additional;
      border-radius: 0 0 10px 10px;
    }

    &:hover {
      color: $page-bg-color-main;
      background-color: $highlight-additional;
    }
  }
}

.signOutBtn {
  margin-top: 40px;
  border-radius: 0 0 10px 10px;
  opacity: 0.9;

  &:hover {
    border-radius: 20px 20px 10px 10px;
  }
}
