@import '@style/variables';
@import '@style/mixins';

.container {
  padding-top: 60px;
}

.heading {
  text-align: center;
}

.card {
  &Description {
  }

  &Wrap {
    @include flex-row();
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 120px;
  }

  &Heading {
    margin-top: 90px;
    text-align: center;
  }
}
