@import '@style/variables';
@import '@style/mixins';
@import '@style/functions';

.container {
  padding-top: 60px;
  max-width: $max-app-width;
  margin: 0 auto;

  @media screen and (max-width: 879.8px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.heading {
  text-align: center;
}

.card {
  &Description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-basis: 420px;

    & > p {
      margin: 10px 0 20px 0;
    }
  }

  &Text {
    height: 140px;

    @media screen and (max-width: 879.8px) {
      height: 160px;
    }
  }

  &Wrap {
    @include flex-row();
    justify-content: space-evenly;
    padding-top: 60px;
    padding-bottom: 120px;
    column-gap: 20px;
  }

  &Heading {
    margin-top: 90px;
    text-align: center;
    position: relative;
  }
}
