@import '/src/assets/style/variables';
@import '/src/assets/style/mixins';

.container {
  @include flex-row();
  justify-content: space-between;
  height: $header-height;
  padding: $offset-block-padding;

  @media screen and (min-width: $max-app-width) {
    max-width: $max-app-width;
    margin: 0 auto;
  }
}
.logoWrap {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background-image: radial-gradient(75% 75% at 50% 50%, #6a87ca 50%, #fffc62 98%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  @include highlight-text();
  color: $highlight-main;
  font-size: 68px;
  cursor: pointer;
}

.nav {
  @include flex-row();
  color: $highlight-main;
  font-size: 30px;
  width: 300px;

  &Services {
    cursor: pointer;
  }

  &Tools {
    cursor: pointer;
  }
}

.auth {
  font-family: $Kanit;
  color: $highlight-main;

  &Btn {
    @include flex-row();
    justify-content: space-between;
    width: 160px;
    border: 2px solid $border-color-main;
    border-radius: 6px;
    cursor: pointer;

    &_highlight {
      background-color: $highlight-additional;
      padding: 4px 9px;
      height: inherit;
      border-radius: 0 4px 4px 0;
      color: $text-color-additional;
    }

    &:first-child {
      padding-left: 10px;
    }
  }

  &Profile {
    @include flex-row();
  }

  &Img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
  }
}

.background {
  @include absolute-container();
  z-index: -1;
  height: $header-height;
  background-color: $page-bg-color-additional;
}
