@import '/src/assets/style/variables';
@import '/src/assets/style/mixins';

.container {
  @include flex-row();
  justify-content: space-around;
  height: $header-height;
  max-width: $max-app-width;
  margin: 0 auto;
}
.blankHeaderLayout {
  height: $header-height;
  width: 100%;
}

.logo {
  @include highlight-text();
  color: $highlight-main;
  font-size: 50px;
  cursor: pointer;

  &Wrap {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: radial-gradient(75% 75% at 50% 50%, #6a87ca 50%, #fffc62 98%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover::before {
      display: block;
      position: absolute;
      top: 83%;
      width: 90px;
      color: $border-color-main;
      font-weight: 600;
      font-size: 14px;
      padding: 4px 0;
      background-color: $highlight-main;
      border-radius: 10px;
      text-align: center;
      opacity: 0.8;
      content: 'Home page';
    }
  }

  &Separ {
    font-family: $Open-Sans;
    font-size: 40px;
    font-weight: 300;
  }
}

.nav {
  @include flex-row();
  color: $highlight-main;
  font-size: 30px;
  line-height: 1.4;
  width: 300px;

  &Name {
    cursor: pointer;
    padding-left: 2px;
  }

  &Tools,
  &Services {
    position: relative;
  }

  &Tools:hover {
    .navTools_active {
      top: 38px;
    }
    .toolsName_active {
      opacity: 0.6;
    }
  }

  &Services:hover {
    .navService_active {
      top: 38px;
    }
    .serviceName_active {
      opacity: 0.6;
    }
  }

  &List {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -300px;
    padding-top: 24px;
    font-size: 24px;
    border-radius: 0 0 16px 16px;

    & div:last-child {
      padding-bottom: 10px;
      border-radius: 0 0 16px 16px;
    }
  }

  &Item {
    width: 300px;
    background-color: $page-bg-color-additional;
    padding-top: 4px;
    padding-left: 10px;
    border-left: 3px solid $highlight-additional;
    border-right: 3px solid $highlight-additional;

    &:hover {
      color: $page-bg-color-main;
      text-decoration: underline;
    }
  }
}

#tools {
  padding-right: 20px;
}

.auth {
  font-family: $Kanit;
  color: $highlight-main;

  &Btn {
    @include flex-row();
    justify-content: space-between;
    width: 160px;
    border: 2px solid $border-color-main;
    border-radius: 6px;
    cursor: pointer;

    &_highlight {
      background-color: $highlight-additional;
      padding: 4px 9px;
      height: inherit;
      border-radius: 0 4px 4px 0;
      color: $text-color-additional;
    }

    &:first-child {
      padding-left: 10px;
    }
  }

  &Profile {
    @include flex-row();
  }

  &Img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
  }
}

.background {
  @include absolute-container();
  z-index: -1;
  height: $header-height;
  background-color: $page-bg-color-additional;
}
