@import '@style/variables';
@import '@style/mixins';

.container {
  display: grid;
  justify-items: end;
  max-width: $max-app-width;
  margin: 0 auto;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 1fr;
  padding: 100px 0;
}

.heading {
  text-align: center;
  background-color: $border-color-main;
  color: $highlight-main;

  &Elem {
    color: inherit;
    padding: 20px 0;
  }
}

.content {
  text-indent: 1em;
}
