@import '@style/variables';
@import '@style/mixins';

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tegline {
  @include highlight-text();
}

.textContent {
  max-width: 400px;
  margin-top: 30px;
  text-indent: 30px;
}

.imgWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;

  img {
    transform: rotate(45deg);
    width: 264px;
    height: 403px;
  }
}
