@import '/src/assets/style/variables';
@import '/src/assets/style/mixins';

.container {
  @include flex-column();
  max-width: $medium-app-width;
  margin: 0 auto;
  padding-bottom: 60px;

  h1 {
    padding-top: 30px;
  }
  h2 {
    padding-top: 40px;
    align-self: flex-start;
    font-weight: 500;
  }
  p {
    margin-top: 10px;
    text-indent: 2rem;
  }

  @media screen and (max-width: 1239.8px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
