@import '@style/variables';
@import '@style/mixins';

.container {
  background-color: $page-bg-color-main;

  @media screen and (min-width: $max-app-width) {
    max-width: $max-app-width;
    margin: 0 auto;
  }
}

.mainHeading {
  padding-top: 10px;
  text-align: center;
}

.userInf {
  font-size: 20px;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 40px;

  &__freeReq {
    color: rgb(4, 129, 4);
  }

  &__walletBal {
    color: $highlight-additional;
  }

  &NonAuth {
    @include common-text();
    font-size: 28px;
    color: $highlight-additional;
  }
}

.acceptedFiles {
  position: relative;
  height: 50px;
  row-gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
}

.acceptedDescription {
  margin-right: 20px;
  color: $border-color-main;
}

.exampleBtn {
  position: absolute;
  top: 0;
  right: 0;
}

.form {
  padding: 20px;

  &Container {
    @include flex-column();
    width: 50%;
    margin: 0 auto;
  }

  &Label {
    @include highlight-text();
    color: $highlight-additional;
  }

  &Input {
    width: 100%;
    margin: 10px 0;
    border-width: 3px;
    border-style: groove;
    border-color: $page-bg-color-additional;
    padding: 3px 7px;
    font-size: 18px;
  }

  &Btn {
    &_active {
      background-color: rgb(76, 212, 76);
    }
  }
}

.loadBtn {
  margin-top: 10px;
}

.errorContainer {
  width: 100%;
  color: #ff0000;
}

.logContainer {
  height: 20px;
  width: 100%;
  text-align: center;
}
