@import '@style/variables';
@import '@style/mixins';

.container {
  background-color: $page-bg-color-main;
  max-width: $max-app-width;
  margin: 0 auto;
  padding-bottom: 60px;

  h1 {
    text-align: center;
    padding-top: 30px;
  }

  h2 {
    margin-top: 40px;
    font-weight: 500;
  }

  a {
    @include common-link();
  }

  @media screen and (max-width: 1239.8px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.userInf {
  font-size: 20px;
  text-align: center;
  padding: 20px 0 40px 0;

  &__freeReq {
    color: rgb(4, 129, 4);
  }

  &__walletBal {
    color: $highlight-additional;
  }

  &NonAuth {
    @include common-text();
    @include flex-column();
    font-size: 28px;
    color: $highlight-additional;
    height: 112px;
  }
}

.acceptedFiles {
  position: relative;
  height: 50px;
  row-gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
}

.acceptedDescription {
  margin-right: 20px;
  color: $border-color-main;
}

.exampleBtn {
  position: absolute;
  top: 0;
  right: 0;
}

.form {
  padding: 20px;

  &Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: start;
    margin: 0 auto;
  }

  &GridInput {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }

  &Label {
    @include highlight-text();
    color: $highlight-additional;
  }

  &Input {
    width: 100%;
    max-width: 600px;
    margin: 10px 0;
    border-width: 3px;
    border-style: groove;
    border-color: $page-bg-color-additional;
    padding: 3px 7px;
    font-size: 18px;
  }

  &Setting {
    font-weight: 500;
    width: 100%;
    padding-right: 40px;

    &Toggle {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;

      Input {
        margin-left: 10px;
        margin-right: 0;
        width: 28px;
        height: 28px;
        cursor: pointer;
      }
    }

    &Content {
      margin-top: 10px;
    }

    &Elem {
      display: flex;
      column-gap: 10px;
      justify-content: flex-end;

      &Layout {
        height: 24px;
        width: 100%;
      }
    }
  }

  &Btn {
    position: relative;

    &Wrap {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      transform: translateX(-82%);
      width: 230px;
    }

    &_active {
      background-color: rgb(76, 212, 76);
    }
  }
}

.errorContainer {
  width: 100%;
  text-align: center;
  color: #ff0000;
  font-size: 22px;
  padding: 4px;
}

.logContainer {
  width: 100%;
  text-align: center;
  height: 22px;
  padding: 4px;
}

.content {
  & :first-child {
    margin-top: 10px;
  }
  p {
    text-indent: 2rem;
    margin-top: 10px;
  }
}
