@import '@style/variables';
@import '@style/mixins';

.container {
  @include flex-column();
  width: 100%;
  color: #000;
  font-size: 22px;
  line-height: 120%;
  max-width: $max-app-width;
  margin: 0 auto;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  margin-bottom: 24px;

  &_link {
    cursor: pointer;
    padding: 8px;
    color: $highlight-main;

    &:hover {
      color: $highlight-additional;
    }
  }

  @media screen and (max-width: 1023.9px) {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.separator {
  width: 100%;
  height: 1px;
  background-image: radial-gradient(250px 250px at 50% 50%, #020202ff 0%, #6a87ca 100%);
}

.copyright {
  @include flex-row();
  justify-content: center;
  padding-top: 20px;
  text-align: center;
  font-size: 16px;
  margin: auto;
  column-gap: 30px;
  color: $border-color-main;

  &Creator {
    &_mail {
      color: rgb(0, 0, 255);

      &:hover {
        color: $highlight-main;
      }
    }
  }
}
