/*Fonts and Typography*/


/*Colors*/
$page-bg-color-main: #FFF;
$page-bg-color-additional: #205ded;
$highlight-main: #f4f002;
$highlight-additional: #840da9;
$text-color-main: #425259;
$text-color-additional: #423753;
$border-color-main: #f4a124;

/*Transition*/

/*Paddings*/

/*Border radius*/


