@import '@style/mixins';
@import '@style/variables';

.linkButton {
  display: block;
  padding: 5px 8px 6px 8px;
  border: 2px solid $border-color-main;
  border-radius: $border-rad-main;
  background-color: $page-bg-color-additional;
  color: $text-color-additional;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
