@import '@style/mixins';

.acceptedFiles {
  height: 40px;
  row-gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.acceptedDescription {
  @include bold-text(20px);
  margin-right: 20px;
}

.acceptedNames {
  font-size: 20px;
}

.form {
  padding: 20px;

  &_container {
    @include flex-column();
    width: 50%;
    margin: 0 auto;
  }

  &_input {
    width: 100%;
  }
}
