@import '@style/mixins';
@import '@style/variables';

.container {
  max-width: $max-app-width;
  margin: 0 auto;
  padding-bottom: 60px;

  h1 {
    text-align: center;
    padding-top: 30px;
  }

  h2 {
    margin-top: 40px;
    font-weight: 500;
  }

  a {
    @include common-link();
  }

  @media screen and (max-width: 1239.8px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.column {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  padding-top: 20px;

  &Left {
    max-width: 280px;
    padding-right: 20px;
  }

  &Right {
    max-width: 700px;
  }
}

.userInf {
  font-size: 30px;
  margin-bottom: 40px;
  border-left: 4px solid $page-bg-color-additional;
  border-radius: 10px;
  padding-left: 6px;

  &__freeReq {
    border-bottom: 2px solid $page-bg-color-additional;
    border-radius: 0 0 6px 6px;

    p {
      color: $highlight-additional;
      text-align: end;
    }
  }

  &__walletBal {
    border-top: 2px solid $page-bg-color-additional;
    border-radius: 6px 6px 0 0;

    p {
      color: $highlight-additional;
      text-align: end;
    }

  }

  &__unAuthMessage {
    @include common-text();
    font-size: 24px;
    
    p {
      text-align: start;
    }
  }
}

.acceptedFiles {
  position: relative;
  height: 50px;
  row-gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;

  p {
    color: #008000;
  }
}

.acceptedDescription {
  margin-right: 20px;
  color: $border-color-main;
}

.form {
  padding: 0 20px 20px 20px;

  &Container {
    @include flex-column();
    width: 50%;
    min-width: 420px;
    margin: 0 auto;
  }

  &Label {
    @include highlight-text();
    color: $highlight-additional;
  }

  &Input {
    width: 100%;
    margin: 10px 0;
    border-width: 3px;
    border-style: groove;
    border-color: $page-bg-color-additional;
    padding: 3px 7px;
    font-size: 18px;
  }

  &Btn {
    &_active {
      background-color: rgb(76, 212, 76);
    }
  }
}

.loadBtn {
  margin-top: 10px;
}

.toolWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorContainer {
  width: 100%;
  text-align: center;
  color: #ff0000;
  font-size: 22px;
  padding: 4px;
}

.logContainer {
  width: 100%;
  text-align: center;
  height: 22px;
  padding: 4px;
}

.content {
  & :first-child {
    margin-top: 10px;
  }
  p {
    text-indent: 2rem;
    margin-top: 10px;
  }
}
